* {
    color: black;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: url(449944d22ec236b0ec773692f6ea38a5.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: large;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

footer {
    justify-content: center;
    display: flex;
    height: 40vh;
}
