body {
    display: flex;
    flex-direction: column;
    font-family: cursive;
    background-color: black;
}

.her{
    display: flex;
    flex-direction: column;
    
}
.her header {
    display: flex;
    flex-direction: column;
}
.nav{
    display: flex;
    justify-content: space-around;
}
.nav img{
    width: 100px;
}
.nav nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: beige;
    background-color: black;
    width: 200vh;
}
.main {
    display: flex;
    justify-content: center;
    color: white;
    background-image: url(Fondo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    
}
.main main {
    display: flex;
    justify-content: center;
    width: 198.4vh;
    background-color: #0007;
    padding: 5px;
}
.img{
    display: flex;
    justify-content: center;
}
.main main img{
    display: flex;
    width: 80vh;
}