body {
    display: flex;
    background-image: url(Fondo.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    flex-direction: column;
}

.her{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    
}
.her header {
    display: flex;
    flex-direction: column;
}
.her header img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: beige;
    background-color: black;
    width: 200vh;
}
.main {
    display: flex;
    justify-content: center;
    color: white;
    
}
.main main {
    display: flex;
    justify-content: center;
    width: 198.4vh;
    background-color: #0007;
    padding: 5px;
}
.img{
    display: flex;
    justify-content: center;
}
.main main img{
    display: flex;
    width: 80vh;
}