body {
    display: flex;
    background-color: black;
    flex-direction: column;
    font-family:cursive;
    color: white;
}
.her{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
.her header {
    display: flex;
    flex-direction: column;
}
.her header img {
    display: flex;
    justify-content: center;
    width: 100px;
}
.logo{
    display: flex;
    justify-content: center;
}
.logo img{
    width: 350px;
}
.nav nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    width: 200vh;
}
.main {
    display: flex;
    justify-content: center;
    background-image: url(Fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
}
.main main {
    display: flex;
    justify-content: center;
    width: 198.4vh;
    background-color: #0007;
    padding: 5px;
}
footer{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}